@import url("https://fonts.googleapis.com/css?family=Lato|Supermercado+One");

/* Use the 'Lato' font family at 18px throughout the body of the document, and cover the background with the 'map-bg.jpg' image. */
body {
  background-image:url("map-bg.jpg");
  width: 900px;
  margin: 10px auto;
}

nav {
  font-family: fantasy;20px
  font-size: 10px;
}

/* Use the 'Supermercado One' font at 45px (colored #5d4037) for the restaurant name. */
font-family:Supermercado One';45px 
color:red
/* Set the separator between the columns (the "column-rule") to be 2px dashed rosybrown. */
main { column-rule:5px dashed #0c0701;
  columns: 400px 2;
  column-gap: 100px;
}

section {
  margin-bottom: 50px;
}

/* Show each of the section headings of the menu (e.g. "Starters") in small caps, colored #6d4c41. */
h2 {
  margin: 0;
}

/* Make the name of each menu item appear in bold in a 20px size. */

dd {
  margin: 0 0 60px 0;
  display: inherit;
}

.details {
  order: 5;
}0

/* Show the price of each item in a large font, in the color named 'firebrick' */
.price {
  order: 2;
  padding-left: 50px;
} color:firebrick

/* Draw a 2px dashed red border around the address/footer */
address {
  padding: 20px;
}

